.price-ext {
    background-position: left center;
    padding: 0 0 0 18px;
    background-repeat:no-repeat;
}
.price-up {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/up.png);
}
.price-down {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/down.png);
}
.price-equal {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/equal.gif);
}
.price-firstLooked {
    text-align: center;
    color: gainsboro;
}